/* Import sans-serif font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* text color and padding*/
body {
  background-color: var(--bs-primary);
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 300; /* thin default font */
  padding-left: 1rem;
  padding-right: 1rem;
}

/* adjustments for mobile */
@media (min-width: 768px) {
  body {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Navbar shadow */
.navbar {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); /* white shadow with soft transparency */
  z-index: 1000;
}

/* Highlighted text in light blue */
.highlight-blue {
  color: #66d9ef; /* pastel/light blue */
  font-weight: 400;
}

/* column spacing*/
.columns {
  gap: 2px;
  margin-bottom: 2rem;
}

.column img {
  margin-right: 5rem;
  margin-bottom: 1em;
}

.column {
  padding: 1.5rem 0;
}

@media (max-width: 576px) {
  .column img {
    width: 150px !important;
  }
}

@media (max-width: 768px) {
  .column {
    text-align: center;
  }
}
