/* Import sans-serif font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* 'name' font */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

/* text color and padding*/
body {
  background-color: var(--bs-primary);
  color: #ECF0F1;
  font-family: 'Inter', sans-serif;
  font-weight: 300; /* thin default font */
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Manual highlight text*/
.highlight {
  color: #1ABC9C;
  font-weight: 300;
}

/* font for name */
.name-highlight-2 {
  color: white;
  font-family: 'Squada One', serif;
  font-weight: 100;
  font-size: 4rem;
  line-height: 1;
}



/* adjustments for mobile */
@media (max-width: 768px) {
   .responsive-columns {
    flex-direction: column !important;
  }
  .responsive-columns > .column {
    width: 100% !important;
    margin-bottom: 1rem;
  }
}






/* column spacing and settings*/
.columns {
  gap: 1.5px;
  margin-bottom: 1rem 0;
  display: flex;
  align-items: center;  /* vertically centers column content */
}

.column img {
  margin-right: 1rem 0;
  margin-bottom: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* centering within column */
.contact-links {
  text-align: center;
  margin-top: 1rem;
  line-height: 2;
}

/* licenses, copyrite and name*/
.nav-footer {
  width: 100% !important;
  max-width: 100% !important;
  display: block;
  text-align: center;
}

/* Navbar shadow */
.navbar {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); /* white shadow with soft transparency */
  z-index: 1000;
}

.nav-link.active {
  color: #66d9ef !important; /* your accent color */
}

/* button */
.project-button {
  margin-top: 1.5rem;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.95rem;
}
.btn-accent {
  background-color: #66d9ef;
  color: #2c3e50;
  border: none;
}

.btn-accent:hover {
  background-color: #3498db;
  color: #fff;
}
